<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <div class="card">
        <div class="card-body">
          <div class="container-fluid text-center">
            <h1 class="display-2 text-blue">Test Centres across the India</h1>
          </div>
          <h3 class="display-4">Andhra Pradesh</h3>
          <ul>
            <li>Sri Venkateswara Institute of Medical Sciences in Tirupati</li>
            <li>GMC, Anantapur</li>
            <li>Siddhartha Medical College, Vijayawada</li>
            <li>Ranagaraya Medical College, Kakinada</li>
          </ul>
          <h3 class="display-4">Andaman and Nicobar</h3>
          <ul>
            <li>Regional Medical Research Centre, Port Blair</li>
          </ul>
          <h3 class="display-4">Assam</h3>
          <ul>
            <li>Gauhati Medical College, Guwahati</li>
            <li>Regional Medical Research Centre, Dibrugarh</li>
            <li>Silchar Medical College, Silchar</li>
            <li>Jorhat Medical College, Jorhat</li>
          </ul>
          <h3 class="display-4">Bihar</h3>
          <ul>
            <li>Rajendra Memorial Research Institute of Medical Sciences, Patna</li>
          </ul>
          <h3 class="display-4">Andhra Pradesh</h3>
          <ul>
            <li>Sri Venkateswara Institute of Medical Sciences in Tirupati</li>
            <li>GMC, Anantapur</li>
            <li>Siddhartha Medical College, Vijayawada</li>
            <li>Ranagaraya Medical College, Kakinada</li>
          </ul>
          <h3 class="display-4">Andaman and Nicobar</h3>
          <ul>
            <li>Regional Medical Research Centre, Port Blair</li>
          </ul>
          <h3 class="display-4">Assam</h3>
          <ul>
            <li>Gauhati Medical College, Guwahati</li>
            <li>Regional Medical Research Centre, Dibrugarh</li>
            <li>Silchar Medical College, Silchar</li>
            <li>Jorhat Medical College, Jorhat</li>
          </ul>
          <h3 class="display-4">Bihar</h3>
          <ul>
            <li>Rajendra Memorial Research Institute of Medical Sciences, Patna</li>
          </ul>
          <h3 class="display-4">Chandigarh</h3>
          <ul>
            <li>Post Graduate Institute of Medical Education &amp; Research</li>
          </ul>
          <h3 class="display-4">Chhattisgarh</h3>
          <ul>
            <li>AIIMS, Raipur</li>
          </ul>
          <h3 class="display-4">Delhi</h3>
          <ul>
            <li>AIIMS</li>
          </ul>
          <h3 class="display-4">Gujarat</h3>
          <ul>
            <li>BJ Medical College, Ahmedabad</li>
            <li>M P Shah Government Medical College, Jamnagar</li>
          </ul>
          <h3 class="display-4">Haryana</h3>
          <ul>
            <li>Pt B D Sharma Post Graduate Institute of Medical Sciences, Rohtak</li>
            <li>BPS Government Medical College, Sonipat</li>
          </ul>
          <h3 class="display-4">Himachal Pradesh</h3>
          <ul>
            <li>Indira Gandhi Medical College, Shimla</li>
            <li>Dr Rajendra Prasad Government Medical College, Kangra, Tanda</li>
          </ul>
          <h3 class="display-4">Jammu-Kashmir</h3>
          <ul>
            <li>Sher-I-Kashmir Institute of Medical Sciences, Srinagar</li>
            <li>Government Medical College, Jammu</li>
            <li>Government Medical College, Srinagar</li>
          </ul>
          <h3 class="display-4">Jharkhand</h3>
          <ul>
            <li>MGM Medical College, Jamshedpur</li>
          </ul>
          <h3 class="display-4">Karnataka</h3>
          <ul>
            <li>Bangalore Medical College &amp; Research Institute, Bengaluru</li>
            <li>National Institute of Virology Field Unit, Bengaluru</li>
            <li>Mysore Medical College &amp; Research Institute, Mysore</li>
            <li>Hassan Institute of Medical Sciences, Hassan</li>
            <li>Shimoga Institute of Medical Sciences, Shivamoga</li>
          </ul>
          <h3 class="display-4">Kerala</h3>
          <ul>
            <li>National Institute of Virology Field, Kerala Unit</li>
            <li>Government Medical College, Thriuvananthapuram</li>
            <li>Government Medical College, Kozhikhode</li>
            <li>Government Medical College, Thrissur</li>
          </ul>
          <h3 class="display-4">Madhya Pradesh</h3>
          <ul>
            <li>AIIMS, Bhopal</li>
            <li>National Institute of Research in Tribal Health (NIRTH), Jabalpur</li>
          </ul>
          <h3 class="display-4">Maharashtra</h3>
          <ul>
            <li>Indira Gandhi Government Medical College, Nagpur</li>
            <li>Kasturba Hospital for Infectious Diseases, Mumbai</li>
            <li>NIV Mumbai Unit</li>
          </ul>
          <h3 class="display-4">Manipur</h3>
          <ul>
            <li>JN Institute of Medical Sciences Hospital, Imphal</li>
            <li>Regional Institute of Medical Science, Imphal</li>
          </ul>
          <h3 class="display-4">Meghalaya</h3>
          <ul>
            <li>North Eastern Indira Gandhi Institute of Health and Medical Sciences, Shillong</li>
          </ul>
          <h3 class="display-4">Odisha</h3>
          <ul>
            <li>Regional Medical Research Centre, Bhubaneswar</li>
          </ul>
          <h3 class="display-4">Puducherry</h3>
          <ul>
            <li>Jawaharlal Institute of Postgraduate Medical Education &amp; Research, Puducherry</li>
          </ul>
          <h3 class="display-4">Punjab</h3>
          <ul>
            <li>Government Medical College, Patiala</li>
            <li>Government Medical College, Amritsar</li>
          </ul>
          <h3 class="display-4">Rajasthan</h3>
          <ul>
            <li>Sawai Man Singh Hospital, Jaipur</li>
            <li>Dr S N Medical College, Jodhpur</li>
            <li>Jhalawar Medical College, Jhalawar</li>
            <li>SP Medical College, Bikaner</li>
            <li>RNT Medical college, Udaipur</li>
          </ul>
          <h3 class="display-4">Tamil Nadu</h3>
          <ul>
            <li>King’s Institute of Preventive Medicine &amp; Research, Chennai</li>
            <li>Government Medical College, Theni</li>
            <li>Tirunelveli Medical College, Tirunelveli</li>
            <li>Government Medical College, Thiruvarur</li>
          </ul>
          <h3 class="display-4">Telangana</h3>
          <ul>
            <li>Gandhi Medical College, Secunderabad</li>
            <li>Osmania Medical college, Hyderabad</li>
          </ul>
          <h3 class="display-4">Tripura</h3>
          <ul>
            <li>Government Medical College, Agartala</li>
          </ul>
          <h3 class="display-4">Uttar Pradesh</h3>
          <ul>
            <li>King George Medical University, Lucknow</li>
            <li> Institute of Medical Sciences, Banaras Hindu University, Varanasi</li>
            <li>Jawaharlal Nehru Medical College, Aligarh</li>
          </ul>
          <h3 class="display-4">Uttarakhand</h3>
          <ul>
            <li>Government Medical College, Haldwani</li>
          </ul>
          <h3 class="display-4">West Bengal</h3>
          <ul>
            <li>National Institute of Cholera and Enteric Diseases, Kolkata</li>
            <li>IPGMER, Kolkata</li>
          </ul>

          <br>
          Sources: <a target="_blank" href="https://icmr.nic.in/sites/default/files/upload_documents/COVID_19_Testing_Laboratories.pdf">Indian Council of Medical Research</a>
        </div>
      </div>
    </div>
  </div>
</div>
